.input{
    background-color: #ff9f9f;
    color: white;
    width: 50%;
    padding: 10px;
    border: 2px solid;
    border-radius: 5px;
    padding: 10px;

}

input::focus{
    background-color: #ff9f9f;
    color: white;

}


.button{
    background-color: #ff9f9f;
    color:white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin: 10px 0;
    width: 100%;
}


.form{
    text-align: center;
    padding:50px;
    
}